*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

img{
    height: auto;
    max-width: 250px;

}


main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}
.header-hero-section{
    background-color: #1f2937;
    color: #f9faf8 ;
    padding: 7px 150px 150px 150px ;
    display: flex;
    flex-direction: column;
   
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 50px 0;

    /* change */
     align-items: center;
    padding-top: 10px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links > a , .text-area > p{
    font-size: 18px;
    color: #e5e7eb;

}

.links > a {
    text-decoration: none;
    margin-left: 10px;
}


.hero-section{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    
}

.hero-section > div{
    flex: 1 ;
}

.image img {
    /* overflow: hidden;
    object-fit: cover;
    min-width: 100%;
    height: 60%; */
    /* max-width: 100%; */
    min-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    
}

.text-area{
    padding-right: 20px;

}

.text-area > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}

.text-area .signup-btn{
    font: 18px bold;
    padding: 7px 20px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px auto;

    /* afd */
     margin-top: 15px;
}
 

/* box */
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px ;
    gap: 25px;
}

.box > h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 10px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    flex: 1;
    gap: 50px;
}

.flex-container > .box-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    text-align: center;
}

.box-info > img {
    max-width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 5px;

}

.box-info > p{
    font-size: 18px;
    color: #1f2937;
   
}

/* qoute */

.quote{
    background-color: #e5e7eb;
    padding: 150px 200px;
}

.quote h2, .quote h3{
    text-align: left;
    color: #1f2937;
}

.quote h3{
    font-style: normal;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: end;
}

.quote h2 {
    font-size: 24px;
    line-height: 1.5;
    font-style: italic;
    font-weight: 100;
}
.quote h3 {
    font-size: 20px;
    margin-top: 20px;
}

.cta-container{
    padding: 100px 130px;
}

.cta-container > div:first-child{
    background-color: #3882f6;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    /* gap: 15px; */
}

.cta-container > div:first-child {
    
    align-items: center;

    h3{
        color: #f9faf8;
        font-size: 24px;
    }

    p{
        color: #e5e7eb;
        font-size: 18px;
    }
}

.cta-container > div:first-child button{
    border: 2px solid #f9faf8;
    border-radius: 5px;
    cursor: pointer;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 5px; */
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}

